<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

__MIKE LE__

Data Analyst

_I have a thing for data analysis from the time I worked in Financial field. I believe with the right data and good algorithm, we could solve a lot of public and business problems. And Data science gives me the tools and power to do so._

### My code below is used to print out numbers from 0 to 50

In [4]:
for i in range(51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

__Demonstration for many other types of Markdown__:

Horizontal rule

---

Bulleted list
* Hello
* Hi
* Chao

Numbered list
1. Hello
2. Hi
3. Chao

Tables
| Tables        | Are           | Awesome  |
| ------------- |:-------------:| -----:|
| Like      | this | **__one__**|

Hyperlinks: [Link for the 3rd Course](https://www.coursera.org/learn/data-science-methodology?specialization=ibm-data-science)

Blocked quotes
> This is block quotes
> This is the second line in the current block quotes

Strikethrough: ~~Scratch this.~~